body {
  margin: 0%;
  padding: 0%;
  color: yellow;
  background: #ffff8d;
}

.output {
  width: 50%;
  height: 7rem;
  text-align: center;
  padding: 1rem;
}

textarea {
  border: 1px checked black;
  width: 50%;
  height: 7rem;
}

footer {
  padding: 2em;
  background: yellow;
}
header {
  padding: 1em;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2196f3;
  opacity: 1; /* Firefox */
}
